<h1>Add a restaurant</h1>

<%= form_for(@restaurant) do |f| %>
  <%= f.text_field :name, placeholder: "â†³ name" %>
  <%= f.text_field :address, placeholder: "â†³ adress" %>
  <%= f.text_field :phone_number, placeholder: "â†³ +33 07 12 34 56 78" %>
  <%= f.select :category, Restaurant::CATEGORIES %>

  <%= f.submit 'create'.upcase %>
<% end %>

<%= link_to "â† back", restaurants_path %>
